<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stoyanov.valentin.mycar">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewVehicleActivity"
            android:label="@string/title_activity_new_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewServiceActivity"
            android:label="@string/title_activity_new_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewExpenseActivity"
            android:label="@string/title_activity_new_expense"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewRefuelingActivity"
            android:label="@string/title_activity_new_refueling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewInsuranceActivity"
            android:label="@string/title_activity_new_insurance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewActivity"
            android:label="@string/title_activity_view"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stoyanov.valentin.mycar.activities.MainActivity" />
        </activity>
        <receiver
            android:name=".broadcasts.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".broadcasts.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".services.BootIntentService"
            android:exported="false"/>
    </application>
</manifest>